#Q1.What exactly is []?

In [9]:
#the square brackets "[]" typically indicate an empty list.A list is a common data structure that allows you to store and organize multiple elements in a sequential manner.
my_list = []
my_list

[]

In [10]:
#we can add then add elements to the list using various methods, such as the "append()" method:
my_list.append(1)
my_list.append(2)
my_list

[1, 2]

#Q2.In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [7]:
spam = [2,4,6,8,10]
spam

[2, 4, 6, 8, 10]

In [6]:
#To assign the value 'hello' as the third value in the list stored in the variable spam,we can use the index of the desired position in the list and assign the new value to that index.
spam[2] = "hello"
spam

[2, 4, 'hello', 8, 10]

#Q3.What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [13]:
#'3' * 2 multiplies the string '3' by 2, resulting in the string '33'.
spam = '3'*2
spam

'33'

In [16]:
#int('33') converts the string '33' to an integer, which evaluates to 33.
int('33')

33

In [17]:
#int(33 / 11) divides 33 by 11, resulting in 3
int(33/11)

3

In [19]:
#Finally, spam[3] accesses the element at index 3 in the spam list.
spam=[3]

In [ ]:
#Since the list spam is ['a', 'b', 'c', 'd'], the value of spam[int(int('3' * 2) / 11)] would be the element at index 3, which is 'd'.
#Therefore, the value of spam[int(int('3' * 2) / 11)] is 'd'

#Q4.What is the value of spam[-1]?

In [22]:
#The value of spam[-1] refers to the last element in the list spam. In this case, the list spam is ['a', 'b', 'c', 'd'], so spam[-1] corresponds to the element at index -1, which is the last element in the list.
spam = ['a' , 'b' , 'c' , 'd']
spam[-1]

'd'

#Q5.What is the value of spam[:2]?

In [23]:
#The value of spam[:2] represents a sublist that includes all elements from the beginning of the spam list up to, but not including, the element at index 2
spam[:2]

['a', 'b']

#Q6.What is the value of bacon.index(&#39;cat&#39;)?

In [34]:
#The index() method returns the index of the first occurrence of a specified element in a list. In this case, it will find the index of the first occurrence of the string 'cat' in the list bacon.
bacon = [3.14, 'cat', 11, 'cat', True]
index = bacon.index('cat')
print(index)

1

#Q7.How does bacon.append(99) change the look of the list value in bacon?

In [36]:
#When we use the append() method on a list, it adds the specified element to the end of the list. In|the case of bacon.append(99), the value 99 will be appended to the list bacon.
bacon = [3.14, 'cat', 11, 'cat', True]
becon.append(99)
print(becon)

[3.14, 'cat', 11, 'cat', True, 99, 99]

#Q8.How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [37]:
#When you use the remove() method on a list, it removes the first occurrence of the specified element from the list. In the case of bacon.remove('cat'), the first occurrence of the string 'cat' will be removed from the list bacon.
bacon = [3.14, 'cat', 11, 'cat', True]
becon.remove('cat')
print(becon)

[3.14, 11, 'cat', True, 99, 99]

#Q9.What are the list concatenation and list replication operators?

In [38]:
#List Concatenation Operator (+):The list concatenation operator allows you to combine two or more lists into a single list.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2
print(result)

[1, 2, 3, 4, 5, 6]

In [39]:
#List Replication Operator ():The list replication operator allows you to create a new list by replicating an existing list a certain number of times
original_list = [1,2,3]
replicated_list = original_list *3
print(replicated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#Q10.What is difference between the list methods append() and insert()?

In [41]:
#The append() and insert() methods are both used to modify lists  but they have different purposes and behaviors
#1.append() The append() method modifies the list in place by adding the element at the end.The append() method is used to add an element at the end of a list.It takes a single argument, which is the element to be added to the list
my_list = [1 , 2 , 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [43]:
#insert():
#The insert() method is used to add an element at a specific index in a list.It takes two arguments: the index where the element should be inserted and the element itself.The insert() method modifies the list in place by inserting the element at the specified index.
my_list = [1 , 2 , 3]
my_list.insert(1,4)
print(my_list)

[1, 4, 2, 3]

#Q11.What are the two methods for removing items from a list?

In [47]:
#remove() method:
#The remove() method is used to remove the first occurrence of a specific value from a list. It takes a single argument, which is the value to be removed from the list.The remove() method modifies the list in place by removing the first occurrence of the specified value.
my_list = [1 , 2 , 3 , 4 , 4 , 5 ]
my_list.remove(4)
print(my_list)

[1, 2, 3, 4, 5]

In [50]:
#pop() method:
#The pop() method is used to remove an element from a specific index in a listIt takes an optional argument, which is the index of the element to be removed. If no index is specified, it removes the last element from the list.
my_list = [1, 2, 3, 4]
removed_element = my_list.pop(2)
print(my_list)
print(removed_element)

[1, 2, 4]
3

#Q12. Describe how list values and string values are identical.

In [51]:
#Sequential Data:
#Both lists and strings are sequential data types, meaning they store collections of values in a specific order. Each element in a list or character in a string has a unique position or index.

#Indexing and Slicing:
#Both lists and strings can be accessed using index numbers. Indexing allows you to retrieve individual elements or characters from the sequence. Slicing enables you to extract a subsequence by specifying a range of indices.

#Iteration:
#Lists and strings can be iterated over using loops. You can iterate through each element in a list or character in a string to perform operations or access their values

#Length:
#Both lists and strings have a length or size that represents the number of elements or characters they contain. The len() function can be used to obtain the length of both data types.

In [ ]:
#Mutability:
#Lists are mutable, meaning their elements can be modified, added, or removed. On the other hand, strings are immutable, which means their characters cannot be changed after they are created

#Type of Elements:
#Lists can store elements of different data types, allowing for heterogeneity. Strings, on the other hand, store a sequence of characters exclusively.

#String-specific Methods and Operations:
#Strings have specific methods and operations tailored to string manipulation, such as concatenation (+ operator), splitting, joining, searching for substrings, and more. These operations are not applicable to lists

#Q13 What&#39;s the difference between tuples and lists?

In [ ]:
Mutability:

#Lists are mutable, which means their elements can be modified, added, or removed after they are created. You can change, add, or remove elements using methods like append(), insert(), remove(), etc.
#Tuples, on the other hand, are immutable, meaning their elements cannot be modified after they are created. Once a tuple is defined, you cannot change its elements. Tuples do not have methods for modifying elements.

Syntax:

#Lists are defined using square brackets ([]). Elements within a list are separated by commas.
#Tuples are defined using parentheses (()). Elements within a tuple are also separated by commas. However, parentheses are optional in some cases.

Usage and Purpose:

#Lists are commonly used when you need a collection of items that can be modified. They are suitable for situations where you may need to add, remove, or change elements dynamically.
#Tuples are typically used when you have a collection of items that should not change. They are suitable for situations where you want to ensure the integrity or immutability of the data.

Performance:

#Tuples are generally more efficient in terms of performance and consume less memory compared to lists. This is because tuples are immutable, allowing for optimizations in memory usage and faster access to elements.
#Lists, being mutable, may require more memory and involve additional overhead for managing modifications.

Available Operations:

#Lists have a variety of built-in methods for modifying, accessing, and manipulating elements, such as append(), insert(), remove(), pop(), sort(), etc.
#Tuples have fewer built-in methods due to their immutability. However, they do support common operations like indexing, slicing, and iteration

#Q14.How do you type a tuple value that only contains the integer 42?

In [53]:
#To create a tuple value that only contains the integer 42, you can enclose the value in parentheses. Here's how you can type a tuple with the integer 42:
my_tuple = {42,}
print(my_tuple)

{42}

#Q15.How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [55]:
#To convert a list value into its tuple form, you can use the tuple() function. It takes an iterable (such as a list) as an argument and returns a tuple containing the same elements. Here's an example:
my_list = [1 , 2 , 3 , 4 , 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [56]:
#Similarly, to convert a tuple value into its list form, you can use the list() function. It takes an iterable (such as a tuple) as an argument and returns a list containing the same elements.
my_tuple = (1, 2, 3, 4)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4]

#Q16.Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?

In [58]:
#When you assign a list to a variable, the variable holds the memory address of the list object rather than the actual list data. This means that the variable acts as a reference to the list object, allowing you to access and manipulate the list through that variable.
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [60]:
#This reference-based approach has implications when working with mutable objects like lists. If you assign the list to multiple variables or modify the list through one variable, the changes will be reflected in all variables that reference the same list object
list1 = [1, 2, 3]
list2 = list1  # Both variables refer to the same list object
list1.append(4)
print(list2)

[1, 2, 3, 4]

#Q17.How do you distinguish between copy.copy() and copy.deepcopy()?

In [61]:
# copy.copy():
#The copy.copy() function creates a shallow copy of an object.A shallow copy creates a new object with references to the original elements.f the object being copied contains nested objects (like a list of lists), the outer object is copied, but the nested objects are still referenced.
import copy

original_list = [1, [2, 3]]
copied_list = copy.copy(original_list)

original_list[0] = 10
original_list[1][0] = 20

print(original_list)
print(copied_list)

[10, [20, 3]]
[1, [20, 3]]

In [62]:
#copy.deepcopy()
#The copy.deepcopy() function creates a deep copy of an object.A deep copy creates a new object with completely independent copies of all nested objects.Modifying the nested objects in the deep copy will not affect the original object, and vice versa.
import copy

original_list = [1, [2, 3]]
deep_copied_list = copy.deepcopy(original_list)

original_list[0] = 10
original_list[1][0] = 20

print(original_list)
print(deep_copied_list)

[10, [20, 3]]
[1, [2, 3]]